.container-header{
    margin-left:50px;
    margin-top: 50px;
    display: flex;
}

.container-ShoppingCart{
    margin-left:25px;
    margin-top: 50px;
}
.container-header{
    background-color: rgb(183, 194, 194);
}
